<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styleFormEditar.css">
    <title>Edición de Historial Educativo</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Edición de Historial Educativo</h1>
        <form action="" method="post">
            <input type="hidden" name="id_historial" value="{{ registro.id_historial }}">
            <label>Institución:</label>
            <select name="id_institucion" required>
                <option value="1" {{ 'selected' if registro.id_institucion == 1 else '' }}>Institución privada</option>
                <option value="2" {{ 'selected' if registro.id_institucion == 2 else '' }}>Institución pública de gestión directa</option>
                <option value="3" {{ 'selected' if registro.id_institucion == 3 else '' }}>Institución pública de gestión privada</option>
            </select>
            <br>
            <label>Adaptación:</label>
            <textarea name="adaptacion" required>{{ registro.adaptacion }}</textarea>
            <br>
            <label>Relación con Docentes:</label>
            <textarea name="relacion_docentes" required>{{ registro.relacion_docentes }}</textarea>
            <br>
            <label>Relación con Compañeros:</label>
            <textarea name="relacion_compañeros" required>{{ registro.relacion_compañeros }}</textarea>
            <br>
            <label>Repitencia Escolar:</label>
            <textarea name="repitencia_escolar" required>{{ registro.repitencia_escolar }}</textarea>
            <br>
            <label>Cambios de Escuelas:</label>
            <textarea name="cambios_escuelas" required>{{ registro.cambios_escuelas }}</textarea>
            <br>
            <label>Cambios de Maestros:</label>
            <textarea name="cambios_maestros" required>{{ registro.cambios_maestros }}</textarea>
            <br>
            <button type="submit">Guardar Edición</button>
        </form>
    </div>
</body>
</html>