<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleLoginCambioContraseña1.css">
    <title>Cambiar contraseña - Paso 2</title>
</head>
<body>

    <div class="wrapper">
    <h1>Cambiar contraseña - Paso 2</h1>
    
    {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {% endif %}
  

    <form action="/cambiar_contraseña" method="POST">
        <input type="hidden" name="username_or_email" value="{{ username_or_email }}">
        <input type="hidden" name="security_question" value="{{ security_question }}">

        <label for="security_question_display">Pregunta de Seguridad:</label>
        <input type="text" id="security_question_display" name="security_question_display" value="{{ security_question }}" disabled><br>

        <label for="security_answer">Respuesta de Seguridad:</label>
        <input type="text" id="security_answer" name="security_answer" required><br>

        <label for="new_password">Nueva contraseña:</label>
        <input type="password" id="new_password" name="new_password" required><br>

        <label for="confirm_password">Confirmar contraseña:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <button type="submit">Cambiar contraseña</button>
    </form>

</div>
</body>
</html>
