
body{
    background: url('../img/fon-config.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blockEntrada {
    padding: 20px;
    background-color: #f2f2f2;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 10px;

    width: 600px;
    height: 800px; /* Ajusta la altura para que sea igual al ancho */

    max-height: 500px; /* Establece un máximo de altura */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */


  }
  
  .blockEntrada input[type="text"],
  .blockEntrada input[type="date"],
  .blockEntrada select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .blockEntrada label {
    display: block;
    margin-bottom: 10px;
  }
  
  .blockEntrada button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blockEntrada button[type="submit"]:hover {
    background-color: #3e8e41;
  }