/*css dek menu de opciones*/
.header {
    position: fixed;
    top: 0; /* Ajusta a 0 para que esté en la parte superior */
    left: 0; /* Ajusta a 0 para que esté en la parte izquierda */
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0);
    box-shadow: 0 2px 16px hsla(230deg 75% 32% / 30%);
    z-index: var(--z-fixed);
    padding: 20px;
  }
  
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
  }
  
  .nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .nav__search, 
  .nav__login, 
  .nav__toggle, 
  .nav__close {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
  }
  
  :is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color);
  }

  /*hasta aca */
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .acerca-de {
    width: 1100px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto; /* Ajusta el margen según sea necesario */
    position: relative; /* Asegura que los bloques respeten su posición */
    top: var(--header-height); /* Ajusta según la altura del header */
  }
  
  
  .title {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }