body{
    background: url('../img/fon-config.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blockTabla .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
}

.blockTabla {
    width: 1100px; 
    height: 450px;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto; 
    overflow-y: auto; 
    position: relative;
}

@media (max-width: 768px) {
    .blockEntrada, .blockTabla {
        position: static; 
        width: 100%; 
        margin: 10px 0; 
    }
}

.blockTabla .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
}

.blockTabla .table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.blockTabla .table th,
.blockTabla .table td {
    padding: 10px; 
    border: 1px solid #9b9a9a; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    height: 10px; 
    line-height: 10px; 
}

.blockTabla .table td.observaciones {
    max-width: 300px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.blockTabla .table th {
    background-color: #f0f0f0; 
}

.blockTabla .table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.blockTabla .table tbody tr:hover {
    background-color: #e0e0e0; 
}

.blockTabla .table td {
    padding: 8px; 
    border: 1px solid #ddd; 
    text-align: center; 
    white-space: normal; 
    max-width: 300px; 
    overflow: auto; 
}

.blockTabla .table .acciones {
    white-space: nowrap; 
}

.blockTabla .table .acciones form {
    display: inline-block; 
    margin-right: 30px; 
}

.blockTabla .table .acciones button {
    display: inline-block; 
    padding: 12px 12px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.blockTabla .table .acciones button:hover {
    background-color: #0056b3; 
}

.contenedor-busqueda {
    background-color: #fff; 
    padding: -25px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px; 
    height: auto; /* Ajusta el height para que se adapte al contenido */
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Agrega un padding para separar los elementos */
}

.busqueda button[type="submit"], .busqueda input[type="text"], .busqueda select {
    vertical-align: middle;
    margin-right: 10px; /* Agrega un margen derecho para separar los elementos */
}

.busqueda button[type="submit"] {
    width: 100px; /* Ajusta el ancho del botón */
}

.busqueda input[type="text"] {
    width: 70%; /* Ajusta el ancho del input */
}

.busqueda select {
    width: 150px;
    color: #333;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  /* Estilos para los botones */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
