<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link rel="stylesheet" href="../static/css/style-config.css">
    <link rel="stylesheet" href="../static/css/stiloMenu.css">
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
           <span class="puntito">.</span>
           <a href="#" class="logo">Clínica de Psicopedagogía</a>
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li class="nav__item">
                    <a href="/volver_inicio" class="nav__link" >Inicio</a>
                 </li>
                 <li class="nav__item">
                    <li class="nav__item">
                        <a href="/padres" class="nav__link" >Tutor</a>
                     </li>
                 </li>
                 <li class="nav__item">
                    <a href="/pacientes" class="nav__link" >Paciente</a>
                 </li>
                 <li class="nav__item">
                    <a href="/Desarrollo" class="nav__link">Sesión</a>
                 </li>
              </ul>
              <div class="nav__close" id="nav-close">
                 <i class="ri-close-line"></i>
              </div>
           </div>
           
           <div class="nav__actions">
              <div class="dropdown">
                 <button class="dropdown__button" onclick="toggleDropdown('config-dropdown')">
                     <i class="fas fa-cog"></i> Configuración
                 </button>
                 <div class="dropdown__content" id="config-dropdown">
                    <a href="/backup">Seguridad y Backup</a>
                     <a href="acerca-de">Acerca de</a>
                 </div>
             </div>
             
             <div class="dropdown">
              <button class="dropdown__button" onclick="toggleDropdown('profile-dropdown')">
                  <i class="fas fa-user"></i> Perfil
              </button>
              <div class="dropdown__content" id="profile-dropdown">
                  <a href="opciones_usuario">Opciones de Usuario</a>
                  <a href="/cerrar-sesion?confirm_logout=true">Cerrar sesión</a>
              </div>
          </div>
          
          </div>
          
          </div>
        </nav>
        
     </header>
          <!-- Formulario alternativo para cerrar sesión -->
          <form action="/cerrar-sesion" method="POST">
              <button type="submit">Cerrar sesión</button>
           </form>
    
    <div class="contenedorBody">
        <div class="item1">
            <h1 class="titulos">Usuarios registrados</h1>
            <hr>
        </div>
        <div class="item2">
            <h1 class="titulos">Rol de usuarios</h1>
            <hr>
        </div>
    </div>
</body>
</html>
