<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styleFormEditar.css">
    <title>Edición de Dirección</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Edición de Dirección</h1>
        <form action="" method="post">
            <input type="hidden" name="id_direccion" value="{{ direccion.id_direccion }}">
            <label>Dirección:</label>
            <input type="text" name="direccion" value="{{ direccion.direccion }}" required>
            <br>
            <label>Ciudad:</label>
            <input type="text" name="ciudad" value="{{ direccion.ciudad }}" required>
            <br>
            <label>Estado:</label>
            <select name="estado">
                <option value="1" {{ 'selected' if direccion.id_estado_vivienda == 1 else '' }}>Buen estado</option>
                <option value="2" {{ 'selected' if direccion.id_estado_vivienda == 2 else '' }}>Regular estado</option>
                <option value="3" {{ 'selected' if direccion.id_estado_vivienda == 3 else '' }}>Mal estado</option>
            </select>
            <br>
            <button type="submit">Editar</button>
        </form>
    </div>
</body>
</html>