<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stiloEditarPadre.css') }}">

    <title>Edición de Datos del Paciente</title>
</head>
<body>
    <div class="blockEntrada">
        <div class="title">Edición de Datos del Paciente</div>
        <form id="editar-paciente" action="/editar_paciente/{{ paciente['Id_paciente'] }}" method="post">
            <input type="hidden" id="id_paciente" name="id_paciente" value="{{ paciente['Id_paciente'] }}">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ paciente['Nombre'] }}" required><br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ paciente['Apellido'] }}" required><br>
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" value="{{ paciente['DNI'] }}" maxlength="20" required><br>
            <label for="genero">Género:</label>
            <div>
                <select id="genero" name="genero">
                    <option value="Masculino" {% if paciente['Genero'] == 'Masculino' %}selected{% endif %}>Masculino</option>
                    <option value="Femenino" {% if paciente['Genero'] == 'Femenino' %}selected{% endif %}>Femenino</option>
                </select>
            </div>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ paciente['Fecha_nacimiento'] }}" required><br>
            <label for="fecha_registro">Fecha de Registro:</label>
            <input type="date" id="fecha_registro" name="fecha_registro" value="{{ paciente['Fecha_registro'] }}" required><br>
            <label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones" required>{{ paciente['Observaciones'] }}</textarea><br>

            <button type="submit">Guardar Edición</button>
        </form>
    </div>
</body>
</html>