<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stiloPacienteForm.css">
    <title>Historial de Sesiones</title>

</head>
<body>
    <header>
        <h1>Historial de Sesiones</h1>
    </header>

    <main class="blockEntrada">
        <div class="title">Agregar Sesión</div>
        <form id="sesion-form" action="/agregar-sesion" method="post">
          <!-- Campos de entrada de sesión -->
          <label for="fecha_sesion">Fecha de Sesión:</label>
          <input type="date" id="fecha_sesion" name="fecha_sesion" required><br>
          <label for="hora_sesion">Hora de Sesión:</label>
          <input type="time" id="hora_sesion" name="hora_sesion" required><br>
          <label for="duracion">Duración:</label>
          <input type="number" id="duracion" name="duracion" required><br>
          <label for="tipo_sesion">Tipo de Sesión:</label>
          <select id="tipo_sesion" name="tipo_sesion" required>
            <option value="">Seleccione un tipo de sesión</option>
            <!-- Agregar opciones de tipo de sesión aquí -->
          </select><br>
          <label for="desarrollo_psicomotor">Desarrollo Psicomotor:</label>
          <textarea id="desarrollo_psicomotor" name="desarrollo_psicomotor" rows="4"></textarea><br>
          <label for="desarrollo_lenguaje">Desarrollo Lenguaje:</label>
          <textarea id="desarrollo_lenguaje" name="desarrollo_lenguaje" rows="4"></textarea><br>
          <label for="observacion">Observación:</label>
          <textarea id="observacion" name="observacion" rows="4"></textarea><br>
          <button type="submit">Agregar Sesión</button>
        </form>
      </main>

        <main class="blockTabla">
            <table>
                <thead>
                    <tr>
                        <th>Fecha de Sesión</th>
                        <th>Hora de Sesión</th>
                        <th>Duración</th>
                        <th>Tipo de Sesión</th>
                        <th>Desarrollo Psicomotor</th>
                        <th>Desarrollo Lenguaje</th>
                        <th>Observación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sesion in sesiones %}
                    <tr>
                        <td>{{ sesion.fecha_sesion }}</td>
                        <td>{{ sesion.hora_sesion }}</td>
                        <td>{{ sesion.duracion }}</td>
                        <td>{{ sesion.nombre_tipo }}</td>
                        <td>{{ sesion.descripcion_psicomotor }}</td>
                        <td>{{ sesion.descripcion_lenguaje }}</td>
                        <td class="observaciones">{{ sesion.observacion }}</td>
                        <td class="acciones">
                            <!-- Acciones para cada sesión -->
                            <form action="/sesion/editar/{{ sesion.id_sesiones }}" method="get">
                                <button type="submit" onclick="window.open('/sesion/editar/{{ sesion.id_sesiones }}', 'Editar', 'width=600,height=600'); return false;">Editar</button>
                            </form>
                            <form action="/sesion/eliminar/{{ sesion.id_sesiones }}" method="post">
                                <button type="submit" name="eliminar" value="eliminar" onclick="return confirmarEliminacion()">Eliminar</button>
                            </form>
                            {% if mostrar_confirmacion %}
                                <div>
                                    ¿Está seguro de eliminar este registro?
                                    <form action="" method="post">
                                        <input type="hidden" name="id_sesion" value="{{ sesion.id_sesiones }}">
                                        <button type="submit" name="confirmar" value="confirmar">Confirmar</button>
                                        <button type="submit" name="cancelar" value="cancelar">Cancelar</button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
</body>
</html>