<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stiloPacienteForm.css">
    <title>Historial Educativo</title>

    <style>
        body{
    background: url('../img/fon-config.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    </style>

</head>
<body>
    <main class="blockEntrada">
        <div class="title">Agregar Registro Educativo</div>
        <form id="historial-educativo-form" action="/agregar-historial-educativo" method="post">
            <!-- Campos de entrada de registro educativo -->
            <label for="institucion">Institución:</label>
            <select id="institucion" name="id_institucion" required>
                <option value="1">Institución privada</option>
                <option value="2">Institución pública de gestión directa</option>
                <option value="3">Institución pública de gestión privada</option>
            </select><br>
            <label for="adaptacion">Adaptación:</label>
            <textarea id="adaptacion" name="adaptacion" rows="4"></textarea><br>
            <label for="relacion_docentes">Relación con Docentes:</label>
            <textarea id="relacion_docentes" name="relacion_docentes" rows="4"></textarea><br>
            <label for="relacion_compañeros">Relación con Compañeros:</label>
            <textarea id="relacion_compañeros" name="relacion_compañeros" rows="4"></textarea><br>
            <label for="repitencia_escolar">Repitencia Escolar:</label>
            <textarea id="repitencia_escolar" name="repitencia_escolar" rows="4"></textarea><br>
            <label for="cambios_escuelas">Cambios de Escuelas:</label>
            <textarea id="cambios_escuelas" name="cambios_escuelas" rows="4"></textarea><br>
            <label for="cambios_maestros">Cambios de Maestros:</label>
            <textarea id="cambios_maestros" name="cambios_maestros" rows="4"></textarea><br>
            <button type="submit">Agregar Registro Educativo</button>
        </form>
    </main>
    
    <div class="blockTabla">
        <div class="title">Tabla De Registros</div>
        <table class="table">
            <thead>
                <tr>
                    <th style="display:none;">ID Historial</th>
                    <th>Paciente</th>
                    <th>Institución</th>
                    <th>Adaptación</th>
                    <th>Relación con Docentes</th>
                    <th>Relación con Compañeros</th>
                    <th>Repitencia Escolar</th>
                    <th>Cambios de Escuelas</th>
                    <th>Cambios de Maestros</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.paciente }}</td>
                    <td>{{ registro.institucion }}</td>
                    <td>{{ registro.adaptacion }}</td>
                    <td>{{ registro.relacion_docentes }}</td>
                    <td>{{ registro.relacion_compañeros }}</td>
                    <td>{{ registro.repitencia_escolar }}</td>
                    <td>{{ registro.cambios_escuelas }}</td>
                    <td>{{ registro.cambios_maestros }}</td>
                    <td class="acciones">
                        <!-- Acciones para cada registro -->
                        <form action="/historial-educativo/editar/{{ registro.id_historial }}" method="get">
                            <button type="submit" onclick="window.open('/historial-educativo/editar/{{ registro.id_historial }}', 'Editar', 'width=600,height=600'); return false;">Editar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>