<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stiloPacienteForm.css">
</head>

<body>
    <div class="blockEntrada">
        <form id="embarazo-form" action="/registrar-embarazo" method="post">
            <label for="inicio_del_embarazo">Fecha Inicio del Embarazo:</label>
            <input type="date" id="inicio_del_embarazo" name="inicio_del_embarazo" required>
            <label for="fecha_fin_del_embarazo">Fecha Fin del Embarazo:</label>
            <input type="date" id="fecha_fin_del_embarazo" name="fecha_fin_del_embarazo" required>
            <label for="semana_gestacion">Semanas de Gestación:</label>
            <input type="number" id="semana_gestacion" name="semana_gestacion" required>
            <label for="peso_al_nacer">Peso al Nacer:</label>
            <input type="number" step="0.01" id="peso_al_nacer" name="peso_al_nacer" required>
            
            <!-- Select para tipo de parto (t_08tipoparto) -->
            <label for="id_tipo_parto">Tipo de Parto:</label>
            <select id="id_tipo_parto" name="id_tipo_parto">
                <option value="1" selected>Parto Natural</option>
                <option value="2">Cesárea</option>
                <option value="3">Parto Inducido</option>
                <option value="4">Parto por Fórceps</option>
                <option value="5">Parto en el Agua</option>
            </select>
            
            <!-- Campo para enfermedades del embarazo (t_09enfermedadesembarazo) -->
            <label for="enfermedades">Enfermedades del Embarazo:</label>
            <textarea id="enfermedades" name="enfermedades"></textarea>
            
            <button type="submit">Registrar Embarazo</button>
        </form>
    </div>

    <div class="blockTabla">
        <h2 class="title">Direcciones de los padres</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for direccion in direcciones %}
                <tr>
                    <td>{{ direccion['direccion'] }}</td>
                    <td>{{ direccion['ciudad'] }}</td>
                    <td>{{ direccion['estado_vivienda'] }}</td>
                    <td class="acciones">
                        <form action="/direcciones/editar/{{ direccion.id_direccion }}" method="post" target="_blank">
                            <button onclick="window.open('/direcciones/editar/{{ direccion.id_direccion }}', 'Editar', 'width=600,height=600');">Editar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>