<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stiloPacienteForm.css">
</head>

<body>
    <div class="blockEntrada">
        <h2 class="title">Agregar dirección</h2>
        <form action="/direcciones/agregar/{{ id_padre }}" method="post">
            <input type="hidden" name="id_padre" value="{{ id_padre }}">
            <label>Dirección:</label>
            <input type="text" name="direccion" required>
            <br>
            <label>Ciudad:</label>
            <input type="text" name="ciudad" required>
            <br>
            <label>Estado:</label>
            <select name="estado">
                <option value="1">Buen estado</option>
                <option value="2">Regular estado</option>
                <option value="3">Mal estado</option>
            </select>
            <br>
            <button type="submit">Agregar dirección</button>
        </form>
    </div>
    
    <div class="blockTabla">
        <h2 class="title">Direcciones de los padres</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for direccion in direcciones %}
                <tr>
                    <td>{{ direccion['direccion'] }}</td>
                    <td>{{ direccion['ciudad'] }}</td>
                    <td>{{ direccion['estado_vivienda'] }}</td>
                    <td class="acciones">
                        <form action="/direcciones/editar/{{ direccion.id_direccion }}" method="post" target="_blank">
                            <button type="submit">Editar</button>
                        </form>
                        <form action="/direcciones/eliminar/{{ direccion.id_direccion }}" method="post" target="_blank">
                            <button type="submit">eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>