<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/stiloMenu.css">
    <link rel="stylesheet" href="../static/css/stiloPacienteForm.css">
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
           <span class="puntito">.</span>
           <a href="#" class="logo">Clínica de Psicopedagogía</a>
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li class="nav__item">
                    <a href="/volver_inicio" class="nav__link" >Inicio</a>
                 </li>
                 <li class="nav__item">
                    <li class="nav__item">
                        <a href="/padres" class="nav__link" >Tutor</a>
                     </li>
                 </li>
                 <li class="nav__item">
                    <a href="/pacientes" class="nav__link" >Paciente</a>
                 </li>
                 <li class="nav__item">
                    <a href="/Desarrollo" class="nav__link">Sesion</a>
                 </li>
              </ul>
              <div class="nav__close" id="nav-close">
                 <i class="ri-close-line"></i>
              </div>
           </div>
           
           <div class="nav__actions">
              <div class="dropdown">
                 <button class="dropdown__button" onclick="toggleDropdown('config-dropdown')">
                     <i class="fas fa-cog"></i> Configuración
                 </button>
                 <div class="dropdown__content" id="config-dropdown">
                    <a href="/backup">Seguridad y Backup</a>
                     <a href="acerca-de">Acerca de</a>
                 </div>
             </div>
             
             <div class="dropdown">
              <button class="dropdown__button" onclick="toggleDropdown('profile-dropdown')">
                  <i class="fas fa-user"></i> Perfil
              </button>
              <div class="dropdown__content" id="profile-dropdown">
                  <a href="opciones_usuario">Opciones de Usuario</a>
                  <a href="/cerrar-sesion?confirm_logout=true">Cerrar sesión</a>
              </div>
          </div>
          
          </div>
          
          </div>
        </nav>
        
     </header>
      <!-- Formulario alternativo para cerrar sesión -->
      <form action="/cerrar-sesion" method="POST">
          <button type="submit">Cerrar sesión</button>
       </form>

       <div class="contenedor-busqueda">
        <form action="/buscar" method="post">
          <div class="busqueda">
            <button type="submit">Buscar</button>
            <input type="text" name="buscar" placeholder="Buscar...">
            <select name="parametro">
              <option value="Nombres">Nombres</option>
              <option value="Apellido">Apellido</option>
              <option value="Telefono">Teléfono</option>
              <option value="Ocupacion">Ocupación</option>
            </select>
          </div>
        </form>
      </div>

            <div class="blockEntrada">
                <div class="title">Ingreso de tutor</div>
                <form id="datos-padre" action="/agregar-padre" method="post">
                    <label for="nombres">Nombres:</label>
                    <input type="text" id="nombres" name="nombres" required><br>
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" required><br>
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" maxlength="20" required><br>
                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" name="ocupacion" required><br>
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>

                    <label for="nivel_educacion">Nivel de Educación:</label>
                    <select id="nivel_educacion" name="nivel_educacion" required>
                        <option value="1">Educación Inicial</option>
                        <option value="2">Educación Primaria</option>
                        <option value="3">Educación Secundaria</option>
                        <option value="4">Educación Superior</option>
                    </select>


                    <label for="tipo_relacion">Tipo de Relación:</label>
                    <input type="text" id="tipo_relacion" name="tipo_relacion" required>
            
                    <button type="submit">Agregar Padre</button>
                </form>
            </div>
       
            <div class="blockTabla">
                <div class="title">Tabla De Registros de Padres</div>
                <form action="/padres" method="post">
                    <table class="table">
                        <!-- Encabezados de la tabla -->
                        <thead>
                            <tr>
                                <th style="display: none;">ID</th>
                                <th>Nombres</th>
                                <th>Apellido</th>
                                <th>Teléfono</th>
                                <th>Ocupación</th>
                                <th>Nivel de Educación</th>
                                <th>Edad</th> 
                                <th>Fecha de nacimiento</th> 
                                <th>Tipo de Relacion</th>
                                <th>Direcciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for padre in padres %}
                            <tr>
                                <td style="display: none;">{{ padre.Id_padre }}</td>
                                <td>{{ padre.Nombres }}</td>
                                <td>{{ padre.Apellido }}</td>
                                <td>{{ padre.Telefono }}</td>
                                <td>{{ padre.Ocupacion }}</td>
                                <td>{{ padre.nivel }}</td>
                                <td>{{ padre.edad }}</td> 
                                <td>{{ padre.Fecha_nacimiento }}</td> 
                                <td>{{ padre.tipo_relacion }}</td>  
                                <td class="Direcciones">   
                                    <button type="button" onclick="window.open('/padre/direcciones/{{ padre.Id_padre }}', '_blank'); return false;">Direcciones</button>
                                </td>
                                <td class="acciones" >
                                    <!-- Acciones para cada padre -->
                                    <button type="button" onclick="window.open('/padre/editar/{{ padre.Id_padre }}', 'Editar', 'width=600,height=600'); return false;">Editar</button>
                                    <form action="/eliminar_padre/{{ padre.Id_padre }}" method="POST">
                                        <button type="submit" name="eliminar" value="eliminar" onclick="return confirmarEliminacion()">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
    

    </div>

{% if mensaje %}
<script>alert('{{ mensaje }}');</script>
{% endif %}

    <script src="../static/js/pacientesJs.js"></script>
    <script src="../static/js/menu.js"></script>

</body>
</html>